.dates{
font-size: 15px;
font-style:italic;
font-weight:bold;
}
.cascade ol li a{
  color: red;
  font-family: fantasy;

}
.font1 {
font-family:cursive;
font-weight:lighter;
}
img {
  resize: both;
  border-style:double;
  border-radius: 10px;
  border: 2px;
  padding: 4px;
  margin: 8px;
  background-color: rgb(30,144,255);
  float: left;
  margin-right:30px;

}
.float1{
  float: left;
}
